// font
$basic-font: #fff;

// main
$color-main: #fdf9f2;

// SNS
$twitter-color: #00acee;
$instagram-color: linear-gradient(to right, #4c64d3, #cf2e92 25%, #f26939 75%, #ffdd83);
$qiita-color: #55c500;
$pinterest-color: #e70014;
$facebook-color: #1877f2;
$wantedly-color: #04aed1;
