$basic-font: #fff;
$twitter-color: #00ACEE;
$instagram-color: linear-gradient(to right, #4C64D3, #CF2E92 25%, #F26939 75%, #FFDD83);
$qiita-color: #55C500;
$pinterest-color: #E70014;
$facebook-color: #1877F2;
$wantedly-color: #04AED1;