doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title development-gulp-template
        link(rel="stylesheet" href="assets/styles/styles.css")
        script(type="module" src="assets/js/main.js" defer)
        //- 以下、include系統
        include /assets/pug/CSectionTitle.pug
    body
        #top 
            header.p-header 
                .p-kv
                    .p-kv-slides.swiper-container
                        .swiper-wrapper
                            .p-kv-slides-item.swiper-slide
                                img(src="assets/img/slide1.jpg", alt="")
                    .p-kv-menu
                        ul.p-kv-menu-list 
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") SNS
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") WORKS
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") VISION
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") CONTACT
                    .p-kv-title 
                        h1.p-kv-title-txt Frontend Engineer
            main
                section.p-sns
                    +CSectionTitle('SNS')
                    .p-sns-content
                        ul.p-sns-list 
                            li.p-sns-item.twitter
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/twitter.svg", alt="")
                                p.p-sns-item-txt Twitter
                            li.p-sns-item.instagram
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/instagram.svg", alt="")
                                p.p-sns-item-txt Instagram
                            li.p-sns-item.qiita
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/qiita.svg", alt="")
                                p.p-sns-item-txt Qiita
                            li.p-sns-item.pinterest
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/pinterest.svg", alt="")
                                p.p-sns-item-txt Pinterest
                            li.p-sns-item.facebook
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/facebook.svg", alt="")
                                p.p-sns-item-txt Facebook
                            li.p-sns-item.wantedly
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/wantedly.svg", alt="")
                                p.p-sns-item-txt Wantedly