doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title development-gulp-template
        link(rel="stylesheet" href="assets/styles/styles.css")
        script(type="module" src="assets/js/main.js" defer)
        //- 以下、include系統
        include /assets/pug/CSectionTitle.pug
    body
        #top 
            header.p-header 
                .p-kv
                    .p-kv-slides.swiper-container
                        .swiper-wrapper
                            .p-kv-slides-item.swiper-slide
                                img(src="assets/img/slide1.jpg", alt="")
                    .p-kv-menu
                        ul.p-kv-menu-list 
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") SNS
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") WORKS
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") VISION
                            li.p-kv-menu-item 
                                a.p-kv-menu-link(href="#") CONTACT
                    .p-kv-title 
                        h1.p-kv-title-txt Frontend Engineer
            main.p-main
                section.p-sns
                    +CSectionTitle('SNS')
                    .p-sns-content
                        ul.p-sns-list 
                            li.p-sns-item.twitter
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/twitter.svg", alt="")
                                p.p-sns-item-txt Twitter
                            li.p-sns-item.instagram
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/instagram.svg", alt="")
                                p.p-sns-item-txt Instagram
                            li.p-sns-item.qiita
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/qiita.svg", alt="")
                                p.p-sns-item-txt Qiita
                            li.p-sns-item.pinterest
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/pinterest.svg", alt="")
                                p.p-sns-item-txt Pinterest
                            li.p-sns-item.facebook
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/facebook.svg", alt="")
                                p.p-sns-item-txt Facebook
                            li.p-sns-item.wantedly
                                .p-sns-item-circle
                                    .p-sns-item-circle-icon
                                        img(src="assets/img/wantedly.svg", alt="")
                                p.p-sns-item-txt Wantedly
                section.p-works
                    +CSectionTitle('WORKS')
                    .p-works-content
                        ul.p-works-list 
                            li.p-works-item 
                                a(href="#").p-works-link
                                    .p-works-image 
                                        img(src="assets/img/image1.jpg", alt="")
                            li.p-works-item 
                                a(href="#").p-works-link
                                    .p-works-image 
                                        img(src="assets/img/image2.jpg", alt="")
                            li.p-works-item 
                                a(href="#").p-works-link
                                    .p-works-image 
                                        img(src="assets/img/image3.jpg", alt="")
                section.p-vision
                    +CSectionTitle('VISION')
                    .p-vision-content
                        p.p-vision-txt
                            | Frontend Engineer / Backend Engineer.
                            br
                            | 福岡県北九州市出身、九州大学工学部建築学科卒業、O型、射手座。
                            br
                            | 幼稚園から水泳、小学校高学年からサッカーを始める。大学時代からフットサルに転向し、
                            br
                            | 2つのフットサルサークルの代表を経験。今でもフットサルは週2で通っている。
                            br
                            | 韓国、中国、台湾、フィリピン、アメリカ、メキシコの世界6つの国と地域を
                            br
                            | 旅した経験アリ。アメリカ旅行で過ごした2週間が一番楽しかった（笑）。
                            br
                            | 大学時代からプログラミング勉強を開始し、名古屋の制作会社に就職。
                            br
                            | プログラミング言語としてはJavaScriptが一番好き。
                        .p-vision-wrap 
                            .p-vision-item.-left 
                                img(src="assets/img/vision-image1.jpg", alt="")
                            .p-vision-item.-right
                                img(src="assets/img/vision-image2.jpg", alt="")
                section.p-contact
                    +CSectionTitle('CONTACT')
                    .p-contact-content
                        p.p-contact-txt
                            | お問い合わせはこちらから。項目は全て必須です。
                            br
                            | 返信する必要があれば返信します。
                        form(action="#", method="post" class="p-contact-form" id="contact-form")

                            //- 名前
                            dl.p-contact-item.name
                                dt.p-contact-left 
                                    label(for="input_name" class="p-contact-left-title") NAME
                                dd.p-contact-right 
                                    input(type="text" name="input_name" id="input_name" placeholder="山田 太郎")

                            //- メールアドレス
                            dl.p-contact-item.mail
                                dt.p-contact-left 
                                    label(for="input_mail" class="p-contact-left-title") MAIL
                                dd.p-contact-right 
                                    input(type="email" name="input_mail" id="input_mail" placeholder="xxx@example.com")

                            //- お問い合わせ内容
                            dl.p-contact-item.content
                                dt.p-contact-left 
                                    label(for="input_content" class="p-contact-left-title") CONTENT
                                dd.p-contact-right 
                                    textarea(name="input_content" id="input_content" placeholder="お問い合わせ内容を記入ください")
                            
                            .p-contact-button
                                button(id="confirm-button" type="submit") CONFIRM
            footer.p-footer
                .p-footer-inner
                    h3.p-footer-title Yuto Urushima
                    ul.p-footer-menu
                        li.p-footer-menu-item
                            a(href="#").p-footer-menu-link SNS 
                        li.p-footer-menu-item
                            a(href="#").p-footer-menu-link WORKS
                        li.p-footer-menu-item
                            a(href="#").p-footer-menu-link VISION 
                        li.p-footer-menu-item
                            a(href="#").p-footer-menu-link CONTACT
                    .p-footer-top
                        a(href="#").p-footer-top-link
                            p.p-footer-top-txt to TOP
                p.p-footer-copyright © 2021 Yuto Urushima All Rights Reserved.